{
  "extends": [
    "plugin:@wordpress/eslint-plugin/recommended",
  ],
  "rules": {
    "no-console": [
      "error",
      { "allow": ["warn", "error"] }
    ],
    "react/react-in-jsx-scope": "off",
    "react/jsx-fragments": ["error", "syntax"],
    "@wordpress/i18n-text-domain": [
      "error",
      { "allowedTextDomain": [ "my_app" ] }
    ],
    "prettier/prettier": [
      "error",
      {
        "useTabs": false,
        "singleQuote": true
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@config", "./config.json"],
          ["@scripts", "./resources/scripts"],
          ["@styles", "./resources/styles"],
          ["@images", "./resources/images"]
        ],
        "extensions": [".js", ".jsx", ".scss"]
      }
    }
  }
}
